{% macro jobAdPlaceholder(banners, size) %}
  {% if size == 'sidebar' and banners.sidebar %}
    <div class="job-ad-placeholder {{ size }}">
      <a href="/campaigns/{{ banners.sidebar.campaignKey }}/sidebar" target="_blank">
        <img src="{{ banners.sidebar.bannerUrl }}"/>
      </a>
    </div>
  {% endif %}
  {% if size == 'horizontal' and banners.horizontal %}
    <div class="job-ad-placeholder {{ size }}">
      <div class="row g-2 justify-content-center">
        {% for horizontal in banners.horizontal %}
          <div class="col-12 col-lg-6">
            <a href="/campaigns/{{ horizontal.campaignKey }}/horizontal" target="_blank">
              <img src="{{ horizontal.bannerUrl }}"/>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endmacro %}
