{% macro campaignBannerCard(title, banner, imgClass) %}
  <div class="card">
    <div class="card-header">
      {{ icon('genericImage') }}
      {{ title }}
    </div>
    <div class="list-group list-group-flush flex-grow-1">
      <div class="list-group-item">
        {{ icon('campaignCtr') }}
        <b>CTR:</b>
        {% if campaign.stats.ctr %}
          <code>{{ campaign.stats.ctr }}</code>
        {% else %}
          <span class="text-muted">nie wyświetlono</span>
        {% endif %}
      </div>
      <div class="list-group-item">
        {{ icon('campaignViews') }}
        <b>Wyświetlenia:</b>
        <code>{{ banner.stats.views }}</code>
      </div>
      <div class="list-group-item">
        {{ icon('campaignClicks') }}
        <b>Kliknięcia:</b>
        <code>{{ banner.stats.clicks }}</code>
      </div>
      <div class="list-group-item">
        <img class="img-thumbnail {{ imgClass }}"
             src="{{ banner.imageUrl }}"
             alt="{{ title }}">
      </div>
    </div>
  </div>
{% endmacro %}
