{% extends 'adm.base' %}
{% block title %}Edycja kampanii {{ parent() }}{% endblock %}

{% import 'adm.multiacc.components.twig' as components %}

{% block container %}
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span class="me-auto">
        {{ icon('campaign') }}
        Kampania reklamowa
      </span>
      <a class="ms-2 btn btn-sm btn-secondary" href="{{ campaign.backHref }}">
        {{ icon('genericBack') }}
        Wróc
      </a>
      <a class="ms-2 btn btn-sm btn-secondary" href="{{ campaign.editHref }}">
        {{ icon('genericEdit') }}
        Edytuj
      </a>
    </div>

    <div class="list-group list-group-flush">
      <div class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <span>
            {{ icon('genericLink') }}
            <b>Klucz reklamy</b>: <code>{{ campaign.key }}</code>
          </span>
          <span class="text-muted d-none d-lg-block">
            Klucz używany do identyfikacji reklamy i kliknięć.
          </span>
        </div>
      </div>
      <div class="list-group-item d-flex">
        <span>
          {{ icon(campaign.status.active ? 'campaignStatusActive' : 'campaignStatusInactive') }}
          <b>Status</b>:
          {% if campaign.status.active %}
            <b class="text-success">aktywna</b>
          {% else %}
            <b class="text-danger">nie aktywna</b>
          {% endif %}
        </span>
        <span class="ms-auto text-muted">
          {{ campaign.status.statusText }}
        </span>
      </div>
      <div class="list-group-item">
        {{ icon('campaignDateRange') }}
        <b>Zakres</b>:
        {{ campaign.dateSince ?? '<span class="text-muted">nie określono</span>' }}
        <span class="text-muted px-1">-</span>
        {{ campaign.dateUntil ?? '<span class="text-muted">nie określono</span>' }}
      </div>
      <div class="list-group-item">
        {{ icon('genericLink') }}
        <b>Odnośnik reklamy</b>: {{ campaign.redirectUrl }}
      </div>
      <div class="list-group-item">
        {{ icon('campaignCtr') }}
        <b>CTR:</b>
        {% if campaign.stats.ctr %}
          <code>{{ campaign.stats.ctr }}</code>
        {% else %}
          <span class="text-muted">nie wyświetlono</span>
        {% endif %}
      </div>
      <div class="list-group-item">
        {{ icon('campaignViews') }}
        <b>Wyświetlenia:</b>
        <code>{{ campaign.stats.views }}</code>
        {% if campaign.targetViews %}
          <span class="text-muted">
            (docelowo: <code>{{ campaign.targetViews }}</code>)
          </span>
        {% endif %}
      </div>
      <div class="list-group-item">
        {{ icon('campaignClicks') }}
        <b>Kliknięcia:</b>
        <code>{{ campaign.stats.clicks }}</code>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span class="me-auto">
        {{ icon('campaignBanner') }}
        Warianty
      </span>
      <a class="ms-2 btn btn-sm btn-secondary" href="{{ campaign.createVariantHref }}">
        {{ icon('genericAdd') }}
        Dodaj
      </a>
    </div>

    {{ components.table('Ta kartoteka delikwenta na razie nie dotyczy żadnego konta użytkownika.', campaign.banners, [
      { key: 'type', label: 'Typ', icon: 'campaignBannerType', style: 'code' },
      { key: 'stats.views', label: 'Wyświetlenia', icon: 'campaignViews' },
      { key: 'stats.clicks', label: 'Kliknięcia', icon: 'campaignClicks' },
      { key: 'stats.ctr', label: 'CTR', icon: 'campaignCtr', default: 'nie wyświetlono'},
      { key: 'imageUrl', label: 'Banner', labelIcon: 'campaignBanner', style: 'image', styleClass:'max-h-4' },
    ]) }}
  </div>

  <style>
    .max-h-4 {
      max-height: 28px;
    }
  </style>
{% endblock %}
