{% extends 'adm.base' %}
{% block title %}Edycja kampanii {{ parent() }}{% endblock %}

{% from 'adm.campaigns.campaignBannerCard' import campaignBannerCard %}

{% block container %}
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span class="me-auto">
        {{ icon('campaign') }}
        Kampania reklamowa
      </span>
      <a class="ms-2 btn btn-sm btn-secondary" href="{{ campaign.backHref }}">
        {{ icon('genericBack') }}
        Wróc
      </a>
      <a class="ms-2 btn btn-sm btn-secondary" href="{{ campaign.editHref }}">
        {{ icon('genericEdit') }}
        Edytuj
      </a>
    </div>

    <div class="list-group list-group-flush">
      <div class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <span>
            {{ icon('genericLink') }}
            <b>Klucz reklamy</b>: <code>{{ campaign.key }}</code>
          </span>
          <span class="text-muted d-none d-lg-block">
            Klucz używany do identyfikacji reklamy i kliknięć.
          </span>
        </div>
      </div>
      <div class="list-group-item d-flex">
        <span>
          {{ icon(campaign.status.active ? 'campaignStatusActive' : 'campaignStatusInactive') }}
          <b>Status</b>:
          {% if campaign.status.active %}
            <b class="text-success">aktywna</b>
          {% else %}
            <b class="text-danger">nie aktywna</b>
          {% endif %}
        </span>
        <span class="ms-auto text-muted">
          {{ campaign.status.statusText }}
        </span>
      </div>
      <div class="list-group-item">
        {{ icon('campaignDateRange') }}
        <b>Zakres</b>:
        {{ campaign.dateSince ?? '<span class="text-muted">nie określono</span>' }}
        <span class="text-muted px-1">-</span>
        {{ campaign.dateUntil ?? '<span class="text-muted">nie określono</span>' }}
      </div>
      <div class="list-group-item">
        {{ icon('genericLink') }}
        <b>Odnośnik reklamy</b>: {{ campaign.redirectUrl }}
      </div>
      <div class="list-group-item">
        {{ icon('campaignCtr') }}
        <b>CTR:</b>
        {% if campaign.stats.ctr %}
          <code>{{ campaign.stats.ctr }}</code>
        {% else %}
          <span class="text-muted">nie wyświetlono</span>
        {% endif %}
      </div>
      <div class="list-group-item">
        {{ icon('campaignViews') }}
        <b>Wyświetlenia:</b>
        <code>{{ campaign.stats.views }}</code>
        {% if campaign.targetViews %}
          <span class="text-muted">
            (docelowo: <code>{{ campaign.targetViews }}</code>)
          </span>
        {% endif %}
      </div>
      <div class="list-group-item">
        {{ icon('campaignClicks') }}
        <b>Kliknięcia:</b>
        <code>{{ campaign.stats.clicks }}</code>
      </div>
    </div>
  </div>

  {{ campaignBannerCard(title:'Baner poziomy', banner:bannerHorizontal, imgClass:'banner-horizontal') }}
  {{ campaignBannerCard(title:'Baner boczny', banner:bannerSidebar, imgClass:'banner-sidebar') }}

  <style>
    .banner-horizontal {
      max-width: 256px;
      min-height: 48px;
      min-width: 144px;
    }

    .banner-sidebar {
      max-width: 144px;
      min-width: 100px;
      min-height: 100px;
    }
  </style>
{% endblock %}
