{% macro campaignBanner(placeholder_size, bannerSet) %}
  {% if placeholder_size == 'sidebar' and bannerSet.sidebar %}
    <div class="campaign-banner">
      {{ _self.bannerImage(bannerSet.sidebar) }}
    </div>
  {% endif %}
  {% if placeholder_size == 'horizontal' and bannerSet.horizontal %}
    <div class="campaign-banner">
      <div class="row g-2 justify-content-center">
        {% for banner in bannerSet.horizontal %}
          <div class="col-12 col-lg-6">
            {{ _self.bannerImage(banner) }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro bannerImage(banner) %}
  <a href="{{ banner.redirectUrl }}" target="_blank">
    <img src="{{ banner.imageUrl }}" data-variant-id="{{ banner.variantId }}"/>
  </a>
{% endmacro %}
