{% extends 'adm.base' %}
{% block title %}Kartoteka {{ parent() }}{% endblock %}

{% import 'adm.multiacc.components.twig' as components %}

{% block container %}
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span>Kartoteka <b>#{{ multiacc.id }}</b></span>
      <a href="{{ backHref }}" class="btn btn-sm btn-secondary">
        {{ icon('navigateBack') }}
        Wróć</a>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Założona: <b>{{ multiacc.createdAt }}</b>
      </li>
    </ul>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      Notatki moderatorskie
      <a href="{{ noteFormHref }}" class="btn btn-sm btn-primary">
        {{ icon('genericAdd') }}
        Dodaj
      </a>
    </div>
    {{ components.table('Nie ma notatek moderatoskich w tej kartotece.', multiacc.notes, [
      { 'key': 'content', 'label': 'Treść notatki', 'wrap': true },
      { 'key': 'createdAt', 'label': 'Dodano' },
      { 'key': 'moderator', 'label': 'Przez moderatora' }]) }}
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span>
        {{ icon('multiaccUsers') }}
        Konta użytkownika
      </span>
      <a href="{{ includeUserHref }}" class="btn btn-sm btn-secondary">
        {{ icon('genericAdd') }}
        Dodaj konto
      </a>
    </div>
    {{ components.table('Ta kartoteka na razie nie dotyczy żadnego konta użytkownika.', multiacc.users, [
      { 'key': 'user', 'label': 'Konto' },
      { 'key': 'createdAt', 'label': 'Rozpoznano' },
      { 'key': 'moderator', 'label': 'Przez moderatora' }]) }}
  </div>
{% endblock %}
